= form_tag rebake_path do |f|
  -if flash[:error]
    .alert.alert-danger=flash[:error]
  .col-sm-6.col-sm-offset-3
    .form-group
      = label_tag :email
      = email_field_tag :email, '', {'class' => 'form-control', 'placeholder' => 'cupcake@sprinkles.com'}
    .form-group
      = label_tag :password
      = password_field_tag :password, '', {'class' => 'form-control'}
    .form-group
      = submit_tag "Sign in", class: "btn btn-lg btn-default"
